{% extends "baseAdd.html" %}
{% block title %} Add a New Issue {% endblock %}
{% block h2 %} Add a New Issue {% endblock %}
{% block form %}
                      <div class="card card-4" style="width: 80rem;">
                        <div class="card-body">
                          <h2 class="title">Complete the form and then submit.</h2>
                          <form action="/api/" method="POST">
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Title</label>
                                  {% csrf_token %}
                                  {{ form }}
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="title"
                                  />
                                </div>
                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Autor</label>
                                  <input
                                    class="input--style-4"
                                    type="number"
                                    min="1"
                                    name="author"
                                  />
                                </div>
                              </div>
                            </div>


                            <!-- Second Row -->
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Repo Id</label>
                                  <input
                                    class="input--style-4"
                                    type="number"
                                    min="1"
                                    name="repo_id"
                                  />
                                </div>

                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Description</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="description"
                                  />
                                </div>
                              </div>
                            </div>

                            <!-- Third Row -->
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Created at</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="created_at"
                                    placeholder="YYYY:MM:DD HH:MM:SS"

                                  />
                                </div>
                              </div>

                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->


                            <div class="col-2">
                              <div class="input-group">
                                <label class="label"> State </label>
                                <div class="p-t-10">
                                  <label class="radio-container m-r-45"
                                    >Open
                                    <input
                                      type="radio"
                                      name="button"
                                    />
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="radio-container"
                                    >Closed
                                    <input type="radio" name="button" />
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </div>


                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->



                            </div>

                            <div class="row row-space">
                            </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Label</label>
                                  <input list = "Labels"
                                    class="input--style-4"
                                    type="text"
                                    name="label"
                                  />
                                </div>
                              </div>

                            <datalist id="Labels">
                              <option value="bug">
                              <option value="feature">
                              <option value="documentation">
                              <option value="help">
                              <option value="other"></option>
                            </datalist>



                            </div>



                            <div class="p-t-15">
                              <button
                                class="btn btn--radius-2 btn--blue"
                                type="submit"
                              >
                                Submit
                              </button>

                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

            </div>
          </div>
		</div>
  </div>
  {% endblock %}
</body>
</html>
