{% extends "baseAdd.html" %}
{% block title %} Add a New Repo {% endblock %}
{% block h2 %} Add a New Repo {% endblock %}
{% block form %}

                      <div class="card card-4" style="width: 80rem;">
                        <div class="card-body">
                          <h2 class="title">Complete the form and then submit.</h2>
                          <form method="POST">
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">name</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="name"
                                  />
                                </div>
                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Owner Id</label>
                                  <input
                                    class="input--style-4"
                                    type="number"
                                    min="1"
                                    name="owner_id"
                                  />
                                </div>
                              </div>
                            </div>
                            

                            <!-- Second Row -->
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Stars</label>
                                  <input
                                    class="input--style-4"
                                    type="number"
                                    min="1"
                                    name="stars"
                                  />
                                </div>

                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Forks</label>
                                  <input
                                    class="input--style-4"
                                    type="number"
                                    min="1"
                                    name="forks"
                                  />
                                </div>
                              </div>
                            </div>
                            
                            <!-- Third Row -->
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Created at</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="created_at"
                                    placeholder="YYYY:MM:DD HH:MM:SS"

                                  />
                                </div>
                              </div>
                              
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->


                            <div class="col-2">
                              <div class="input-group">
                                <label class="label">Is public ?</label>
                                <div class="p-t-10">
                                  <label class="radio-container m-r-45"
                                    >True
                                    <input
                                      type="radio"
                                      name="button"
                                    />
                                    <span class="checkmark"></span>
                                  </label>
                                  <label class="radio-container"
                                    >False
                                    <input type="radio" name="button" />
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                              </div>
                            

                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->
                            <!-- NEED TO CHANGE THE NAMES HERE -->


                            
                            </div>

                            <div class="row row-space">
                            </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Repo Id</label>
                                  <input 
                                    class="input--style-4"
                                    type="number"
                                    min=1
                                    name="repo_id"
                                  />
                                </div>
                              </div>
                            
                            </div>
                            
                            <div class="p-t-15">
                              <button
                                class="btn btn--radius-2 btn--blue"
                                type="submit"
                              >
                                Submit
                              </button>
                              
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              
            </div>
          </div>
		</div>
  </div>
  {% endblock %}
</body>
</html>	