{% extends "baseAdd.html" %}
{% block title %} Add a New User {% endblock %}
{% block h2 %} Add a New User {% endblock %}
{% block form %}

                      <div class="card card-4" style="width: 80rem;">
                        <div class="card-body">
                          <h2 class="title">Complete the form and then submit.</h2>
                          <form action="/api/" method="POST">
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label" for="username">Username</label>
                                  {% csrf_token %}
                                  {{ form }}
                                  <input
                                    id = username
                                    type="text"
                                    name="username"
                                    value="{{ username }}"
                                    class="input--style-4"

                                  />
                                </div>
                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">fullname</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="fullname"
                                  />
                                </div>
                              </div>
                            </div>


                            <!-- Second Row -->
                            <div class="row row-space">
                              <div class="col-2">

                                <div class="input-group">
                                  <label class="label">Date of birth</label>
                                  <div class="input-group-icon">
                                    <input
                                      class="input--style-4 js-datepicker"
                                      type="text"
                                      name="date_of_birth"
                                    />
                                    <i
                                      class="zmdi zmdi-calendar-note input-icon js-btn-calendar"
                                    ></i>
                                  </div>
                                </div>


                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">email</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="email"
                                  />
                                </div>
                              </div>
                            </div>

                            <!-- Third Row -->
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Created at</label>
                                  <input
                                    class="input--style-4"
                                    type="text"
                                    name="created_at"
                                    placeholder="YYYY-MM-DD HH:MM:SS"

                                  />
                                </div>
                              </div>
                              <div class="col-2">
                                <div class="input-group">
                                  <label class="label">Id</label>
                                  <input
                                    class="input--style-4"
                                    type="number"
                                    min="1"
                                    name="id"
                                  />
                                </div>
                              </div>
                            </div>




                            <div class="p-t-15">
                              <button
                                class="btn btn--radius-2 btn--blue"
                                type="submit"
                              >
                                Submit
                              </button>

                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

            </div>
          </div>
		</div>
  </div>
{% endblock %}
</body>
</html>
