{% extends "header.html" %}
{% block title %}  Welcome Page {% endblock %}
{% block h2 %} Welcome to Git Insights DB {% endblock %}
{% block main %}   
						This page was created for the scope of an assignment in a DB
		                cource of the Aristotle University of Thessaloniki. The purpose
		                of this application is to store data used in Version Control
		                Systems (VCS) such as GitHub, GitLab and BitBucket. All this
		                saved data and information will allow easy and fast export of
		                statistical measurements. Analyzing the data will become easier
		                for people in the programming field.

				<center>
				<img
				src= "https://i.ibb.co/bLFF2sw/logos-welcome.png"
				alt="Welcome Image">
				</center>
		

		<p align="center"> Created by: Letros Konstantinos, Manousaridis Ioannis and Sahinis Alexandros.</p>

{% endblock %}

  </body>
</html>
