{% extends "baseAdd.html" %}
{% block title %} User {% endblock %}
{% block h2 %} List of all Orgs {% endblock %}
{% block form %}

<div class="container">
  {% if orgs %}
<div class="list-group">
<ol>
    {%   for org in orgs %}
	<li><button
	type="button"
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '/api/orgs/{{ org.name }}';">
	{{org.name}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No users where found </h3>
  {% endif %}


</div>
{% endblock %}
