{% extends "header.html" %}
{% block title %} Organizations {% endblock %}
{% block h2 %} List of all Orgs {% endblock %}
{% block main %}


<!-- Search bar-->
<div class = "container" style="width:50%">

<form role="search" method="GET" action="{% url 'orgsSearchUrl' %}">
  <div class="input-group">
    <input type="text" class="form-control" name="q" placeholder="Search Org.." value="{{ request.GET.q }}">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit" style="background-color:#f05033"
            onclick="window.location.href = '{% url 'orgsSearchUrl' %}{{ orgs.value }}';"}>
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>
</div>
<br>

  {% if orgs %}
<div class="list-group">
<ol>
    {%   for org in orgs %}
	<li><button
	type="button"
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '{% url 'orgsUrl' %}{{ org.name }}';">
	{{org.name}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No Orgs were found </h3>
  {% endif %}

{% endblock %}
