{% extends "header.html" %}
{% block title %} Search {% endblock %}
{% block h2 %} Search {% endblock %}
{% block main %}

<div class = "container" style="width:70%">	
  
  
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search..">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" style="background-color:#f05033"}>
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  
  <br>

 <div>
        <p>Search Type</p>
		<select class="browser-default custom-select">
		  <option selected>All</option>
		  <option value="1">User</option>
		  <option value="2">Organization</option>
		  <option value="3">Repository</option>
		  <option value="4">Team</option>
		</select>
 </div>

</div>

{% endblock %}