{% extends "header.html" %}
{% block title %} Team {% endblock %}
{% block h2 %} Team Selected {% endblock %}
{% block main %}

<table class="table table-bordered table-hover">
  <tr>
    <th>Team Name</th>
    <td>{{ team.name }}</td>
  </tr>
  <tr>
    <th>Team Owner</th>
    <td>{{ org.name }}</td>
  </tr>
  <tr>
  <th>Team Description</th>
  <td>{{ team.description }}</td>
</tr>

    <tr>
    <th>Team Members</th>
    <td> </td>
  </tr>
    <tr>
    <th>Created at</th>
    <td>{{ team.created_at }}</td>
  </tr>

</table>

{% endblock %}
