{% extends "header.html" %} {% block title %} Issue {% endblock %} {% block h2%}
Issue Selected {% endblock %} {% block main %}

<table class="table table-bordered table-hover">
  <tr>
    <th>Issue Title</th>
    <td>{{ issue.title }}</td>
  </tr>
  <tr>
    <th>Issue Repo</th>
    <td>{{ issue.repo }}</td>
  </tr>
  <tr>
    <th>Issue Description</th>
    <td>{{ issue.description }}</td>
  </tr>
  <tr>
    <th>Issue State</th>
    <td>{{ issue.state }}</td>
  </tr>
  <tr>
    <th>Created at</th>
    <td>{{ issue.created_at }}</td>
  </tr>
  <tr>
    <th>Issue Label</th>
    <td>{{ issue.label }}</td>
  </tr>
  <tr>
    <th>Issue User</th>
    <td>{{ issue.user }}</td>
  </tr>
</table>

{% endblock %}
