{% extends "header.html" %}
{% block title %} Repo {% endblock %}
{% block h2 %} Repo Selected {% endblock %}
{% block main %}

<table class="table table-bordered table-hover">
  <tr>
    <th>Repo Name</th>
    <td>{{ repo.name }}</td>
  </tr>
  <tr>
    <th>Repo Owner</th>
    <td>{{owner_name}} -[{{ repo.owner.type }}]</td>
  </tr>
    <tr>
    <th>Repo Stars</th>
    <td>{{ repo.stars }}</td>
  </tr>
    <tr>
    <th>Repo Forks</th>
    <td>{{ repo.forks }}</td>
  </tr>
    <th>Repo Privacy</th>
    <td>
	{% if repo.is_public %}
		Public
	{% else %}
		Private
	{% endif %}
	</td>
  </tr>
    <th>Repo Creation Date</th>
    <td>{{ repo.created_at }}</td>
  </tr>
</table>

<h2> Commits </h2>
<br>
  {% if commits %}
<div class="list-group">
<ol>
    {% for commit in commits %}
		<li><button
		type="button"
		class="list-group-item list-group-item-action"
		onclick="window.location.href = '{% url 'reposUrl' %}{{ repo.id }}/commits/{{ commit.hash|slice:"1:-1"  }}';">
		{{commit.branch}} &nbsp; | &nbsp; {{commit.created_at }} | &nbsp; {{commit.hash }}</button></li>

    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No Commits were found </h3>
  {% endif %}

{% endblock %}
