{% extends "header.html" %}
{% block title %} Organizations {% endblock %}
{% block h2 %} Organization Selected {% endblock %}
{% block main %}

<div class="container">
<table class="table table-bordered table-hover">
  <tr>
    <th>Organization Owners</th>
    <td>{{ org.owners }}</td>
  </tr>
  <tr>
    <th>Organization Description</th>
    <td>{{ org.description }}</td>
  </tr>
    <tr>
    <th>Organization Name</th>
    <td>{{ org.name }}</td>
  </tr>
    <th>Org's Creation Date</th>
    <td>{{ org.created_at }}</td>
  </tr>
</table>
</div>


<br><br>
<h2> Repos </h2>
<br>
  {% if repos %}
<div class="list-group">
<ol>
    {% for repo in repos %}
	<li><button 
	type="button" 
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '/api/repos/{{ repo.id }}';">
	{{repo.name}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No repos were found </h3>
  {% endif %}

</div>
{% endblock %}
