{% extends "header.html" %}
{% block title %} Commit {% endblock %}
{% block h2 %} Commit Selected {% endblock %}
{% block main %}

<table class="table table-bordered table-hover">
  <tr>
    <th>Commit Hash</th>
    <td>{{ commit.hash }}</td>
  </tr>
    <tr>
    <th>Commit User</th>
    <td>{{ commit.user }}</td>
  </tr>
    <tr>
    <th>Commit Repo</th>
    <td>{{ commit.repo }}</td>
  </tr>
    <th>Commit Creation Date</th>
    <td>{{ commit.created_at }}</td>
  </tr>
  <tr>
    <th>Commit Branch</th>
    <td>{{ commit.branch }}</td>
  </tr>
</table>

{% endblock %}
