{% extends "header.html" %}
{% block title %} Organizations {% endblock %}
{% block h2 %} Organization Selected {% endblock %}
{% block main %}

<div class="container">
<table class="table table-bordered table-hover">
  <tr>
    <th>Organization Owners</th>
    <td>{% for o in  org.owners.all %} {{o}} &nbsp {% endfor %}</td>
  </tr>
  <tr>
    <th>Organization Description</th>
    <td>{{ org.description }}</td>
  </tr>
    <tr>
    <th>Organization Name</th>
    <td>{{ org.name }}</td>
  </tr>
    <th>Org's Creation Date</th>
    <td>{{ org.created_at }}</td>
  </tr>
</table>
</div>

<h2> Repos </h2>
<br>
  {% if repos %}
<div class="list-group">
<ol>
    {% for repo in repos %}
	<li><button
	type="button"
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '{% url 'reposUrl' %}{{ repo.id }}';">
	{{repo.name}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No Repos were found </h3>
  {% endif %}

<h2> Teams </h2>
<br>
  {% if teams %}
<div class="list-group">
<ol>
    {% for team in teams %}
	<li><button
	type="button"
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '{% url 'orgsUrl' %}{{org.name}}/teams/{{ team.name }}';">
	{{team.name}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No Teams were found </h3>
  {% endif %}

</div>

{% endblock %}
