{% extends "header.html" %}
{% block title %} Commit Files {% endblock %}
{% block h2 %} Commit Files Selected {% endblock %}
{% block main %}


<div class="container">
    <table class="table table-bordered table-hover">
      <tr>
        <th>Filename - File </th>
        <td>{{ commitFiles.filename }}</td>
      </tr>
      <tr>
        <th>Commit - File</th>
        <td>{{ commitFiles.commit }}</td>
      </tr>
        <tr>
        <th>Repo - File </th>
        <td>{{repo.name}} &nbsp; - &nbsp; {{repo.created_at }} </td>
      </tr>
        </tr>
        <tr>
        <th>Action - File </th>
        <td>{{ commitFiles.action }}</td>
      </tr>
    </table>
    </div>

{% endblock %}