{% extends "header.html" %}
{% block title %} Users {% endblock %}
{% block h2 %} Users {% endblock %}
{% block main %}



<!-- Search bar-->
<div class = "container" style="width:50%">
  <h3 style="color: #f05033;"> Search User </h3>

<form role="search" method="GET" action="{% url 'usersSearchUrl' %}">
  <div class="input-group">
    <input type="text" class="form-control" name="q" placeholder="Search User.." value="{{ request.GET.q }}">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit" style="background-color:#f05033"
            onclick="window.location.href = '{% url 'usersUrl' %}{{ user.value }}';"}>
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>
</div>
<br>

{% if form %}
<h3 style="color: #f05033;"> Add User </h3>
<form action="{% url 'usersUrl' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Add user" class="float-right btn btn-danger">
</form>
<br><br>
{% endif %}

<!-- Display Users -->

  {% if users %}
<div class="list-group">
  <h3 style="color: #f05033;"> List of all Users </h3>

<ol>
    {%   for user in users %}
	<li><button
	type="button"
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '{% url 'usersUrl' %}{{ user.username }}';">
	{{user.username}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
  <h3> No Users were found </h3>
  {% endif %}

{% endblock %}
