{% extends "header.html" %}
{% block title %} Users {% endblock %}
{% block h2 %} List of all Users {% endblock %}
{% block main %}

  {% if users %}
<div class="list-group">
<ol>
    {%   for user in users %}
	<li><button
	type="button"
	class="list-group-item list-group-item-action"
	onclick="window.location.href = '{% url 'usersUrl' %}{{ user.username }}';">
	{{user.username}}
	</button></li>
    {% endfor %}
</ol>
</div>
  {% else %}
    <h3> No users were found </h3>
  {% endif %}

{% endblock %}
